{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'acm_id' %}
      <a href="https://dl.acm.org/profile/{{ social[1] }}/" aria-label="ACM DL" title="ACM DL"><i class="ai ai-acm" aria-hidden="true"></i></a>
    {% when 'blogger_url' %}
      <a href="{{ social[1] }}" aria-label="Blogger" title="Blogger"><i class="fa-brands fa-blogger-b" aria-hidden="true"></i></a>
    {% when 'bluesky_url' %}
      <a href="{{ social[1] }}" aria-label="Bluesky" title="Bluesky"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a>
    {% when 'dblp_url' %}
      <a href="{{ social[1] }}" aria-label="DBLP" title="DBLP"><i class="ai ai-dblp" aria-hidden="true"></i></a>
    {% when 'discord_id' %}
      <a href="https://discord.com/users/{{ social[1] }}" aria-label="Discord" title="Discord"
        ><i class="fa-brands fa-discord" aria-hidden="true"></i
      ></a>
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" aria-label="email" title="email"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
    {% when 'facebook_id' %}
      <a href="https://facebook.com/{{ social[1] }}" aria-label="Facebook" title="Facebook"
        ><i class="fa-brands fa-facebook" aria-hidden="true"></i
      ></a>
    {% when 'flickr_id' %}
      <a href="https://www.flickr.com/{{ social[1] }}" aria-label="Flickr" title="Flickr"><i class="fa-brands fa-flickr" aria-hidden="true"></i></a>
    {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" aria-label="GitHub" title="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
    {% when 'gitlab_username' %}
      <a href="https://gitlab.com/{{ social[1] }}" aria-label="GitLab" title="GitLab"><i class="fa-brands fa-gitlab" aria-hidden="true"></i></a>
    {% when 'ieee_id' %}
      <a href="https://ieeexplore.ieee.org/author/{{ social[1] }}/" aria-label="IEEE Xplore" title="IEEE Xplore"
        ><i class="ai ai-ieee" aria-hidden="true"></i
      ></a>
    {% when 'inspirehep_id' %}
      <a href="https://inspirehep.net/authors/{{ social[1] }}" aria-label="Inspire HEP" title="Inspire HEP"
        ><i class="ai ai-inspire" aria-hidden="true"></i
      ></a>
    {% when 'instagram_id' %}
      <a href="https://instagram.com/{{ social[1] }}" aria-label="Instagram" title="Instagram"
        ><i class="fa-brands fa-instagram" aria-hidden="true"></i
      ></a>
    {% when 'kaggle_id' %}
      <a href="https://www.kaggle.com/{{ social[1] }}" aria-label="Kaggle" title="Kaggle"><i class="fa-brands fa-kaggle" aria-hidden="true"></i></a>
    {% when 'keybase_username' %}
      <a href="https://keybase.io/{{ social[1] }}" aria-label="Keybase" title="Keybase"><i class="fa-brands fa-keybase" aria-hidden="true"></i></a>
    {% when 'lastfm_id' %}
      <a href="https://www.last.fm/user/{{ social[1] }}" aria-label="Last FM" title="Last FM"
        ><i class="fa-brands fa-lastfm" aria-hidden="true"></i
      ></a>
    {% when 'lattes_id' %}
      <a href="http://lattes.cnpq.br/{{ social[1] }}" target="_blank" aria-label="Lattes" title="Lattes"
        ><i class="ai ai-lattes" aria-hidden="true"></i
      ></a>
    {% when 'leetcode_id' %}
      <a href="https://leetcode.com/u/{{ social[1] }}/" target="_blank" aria-label="LeetCode" title="LeetCode"
        ><i class="si si-leetcode" aria-hidden="true"></i
      ></a>
    {% when 'linkedin_username' %}
      <a href="https://www.linkedin.com/in/{{ social[1] }}" aria-label="LinkedIn" title="LinkedIn"
        ><i class="fa-brands fa-linkedin" aria-hidden="true"></i
      ></a>
    {% when 'mastodon_username' %}
      <a rel="me" href="https://{{ social[1] }}" aria-label="Mastodon" title="Mastodon"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>
    {% when 'medium_username' %}
      <a href="https://medium.com/@{{ social[1] }}" aria-label="Medium" title="Medium"><i class="fa-brands fa-medium" aria-hidden="true"></i></a>
    {% when 'orcid_id' %}
      <a href="https://orcid.org/{{ social[1] }}" aria-label="ORCID" title="ORCID"><i class="ai ai-orcid" aria-hidden="true"></i></a>
    {% when 'osf_id' %}
      <a href="https://osf.io/{{ social[1] }}/" aria-label="Open Science Framework" title="Open Science Framework"
        ><i class="ai ai-osf" aria-hidden="true"></i
      ></a>
    {% when 'pinterest_id' %}
      <a href="https://www.pinterest.com/{{ social[1] }}" aria-label="Pinterest" title="Pinterest"
        ><i class="fa-brands fa-pinterest" aria-hidden="true"></i
      ></a>
    {% when 'publons_id' %}
      <a href="https://publons.com/a/{{ social[1] }}/" aria-label="Publons" title="Publons"><i class="ai ai-publons" aria-hidden="true"></i></a>
    {% when 'quora_username' %}
      <a href="https://www.quora.com/profile/{{ social[1] }}" aria-label="Quora" title="Quora"
        ><i class="fa-brands fa-quora" aria-hidden="true"></i
      ></a>
    {% when 'research_gate_profile' %}
      <a href="https://www.researchgate.net/profile/{{ social[1] }}/" aria-label="ResearchGate" title="ResearchGate"
        ><i class="ai ai-researchgate" aria-hidden="true"></i
      ></a>
    {% when 'rss_icon' %}
      <a href="{{ site.baseurl }}/feed.xml" aria-label="RSS Feed" title="RSS Feed"><i class="fa-solid fa-square-rss" aria-hidden="true"></i></a>
    {% when 'scholar_userid' %}
      <a href="https://scholar.google.com/citations?user={{ social[1] }}" aria-label="Google Scholar" title="Google Scholar"
        ><i class="ai ai-google-scholar" aria-hidden="true"></i
      ></a>
    {% when 'scopus_id' %}
      <a href="https://www.scopus.com/authid/detail.uri?authorId={{ social[1] }}" aria-label="Scopus" title="Scopus"
        ><i class="ai ai-scopus" aria-hidden="true"></i
      ></a>
    {% when 'semanticscholar_id' %}
      <a href="https://www.semanticscholar.org/author/{{ social[1] }}" aria-label="Semantic Scholar" title="Semantic Scholar"
        ><i class="ai ai-semantic-scholar" aria-hidden="true"></i
      ></a>
    {% when 'spotify_id' %}
      <a href="https://open.spotify.com/user/{{ social[1] }}" aria-label="Spotify" title="Spotify"
        ><i class="fa-brands fa-spotify" aria-hidden="true"></i
      ></a>
    {% when 'stackoverflow_id' %}
      <a href="https://stackoverflow.com/users/{{ social[1] }}" aria-label="Stackoverflow" title="Stackoverflow"
        ><i class="fa-brands fa-stack-overflow" aria-hidden="true"></i
      ></a>
    {% when 'strava_userid' %}
      <a href="https://www.strava.com/athletes/{{ social[1] }}" aria-label="Strava" title="Strava"
        ><i class="fa-brands fa-strava" aria-hidden="true"></i
      ></a>
    {% when 'telegram_username' %}
      <a href="https://telegram.me/{{ social[1] }}" aria-label="telegram" title="telegram"
        ><i class="fa-brands fa-telegram" aria-hidden="true"></i
      ></a>
    {% when 'unsplash_id' %}
      <a href="https://unsplash.com/@{{ social[1] }}" aria-label="Unsplash" title="Unsplash"
        ><i class="fa-brands fa-unsplash" aria-hidden="true"></i
      ></a>
    {% when 'wechat_qr' %}
      <a id="WeChatBtn" aria-label="WeChat" title="WeChat"><i class="fa-brands fa-weixin" aria-hidden="true"></i></a>
      <div id="WeChatMod" class="wechat-modal">
        <img src="{{ social[1] | prepend: 'assets/img/' | relative_url }}" alt="WeChat QR" id="WeChatQR">
      </div>
      {% include scripts/wechatModal.liquid %}
    {% when 'whatsapp_number' %}
      <a href="https://wa.me/{{ social[1] }}" aria-label="whatsapp" title="whatsapp"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
    {% when 'wikidata_id' %}
      <a href="https://www.wikidata.org/wiki/{{ social[1] }}" aria-label="Wikidata" title="Wikidata"
        ><i class="fa-solid fa-barcode" aria-hidden="true"></i
      ></a>
    {% when 'wikipedia_id' %}
      <a href="https://wikipedia.org/wiki/User:{{ social[1] }}" aria-label="Wikipedia" title="Wikipedia"
        ><i class="fa-brands fa-wikipedia-w" aria-hidden="true"></i
      ></a>
    {% when 'work_url' %}
      <a href="{{ social[1] }}" aria-label="Work" title="Work"><i class="fa-solid fa-briefcase" aria-hidden="true"></i></a>
    {% when 'x_username' %}
      <a href="https://twitter.com/{{ social[1] }}" aria-label="X" title="X"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
    {% when 'youtube_id' %}
      <a href="https://youtube.com/@{{ social[1] }}" aria-label="YouTube" title="YouTube"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
    {% when 'zotero_username' %}
      <a href="https://www.zotero.org/{{ social[1] }}" aria-label="Zotero" title="Zotero"><i class="ai ai-zotero" aria-hidden="true"></i></a>
    {% else %}
      <a href="{{ social[1].url }}" aria-label="{{ social[1].title }}" title="{{ social[1].title }}">
        {% assign file_ext = social[1].logo | split: '.' | last %}
        {% if file_ext == 'svg' %}
          <svg>
            <image xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}" />
          </svg>
        {% else %}
          <img
            src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
            alt="{{ social[1].title }}"
          >
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
