---
---
<div class="row">
  {% if site.enable_publication_thumbnails %}
    <div class="col col-sm-2 abbr">
      {%- if entry.abbr -%}
        {%- if site.data.venues[entry.abbr] -%}
          {% assign venue_style = null %}
          {% if site.data.venues[entry.abbr].color != blank %}
            {% assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' %}
          {%- endif -%}
          <abbr
            class="badge rounded w-100"
            {% if venue_style %}
              {{ venue_style }}
            {% endif -%}
          >
            {% if site.data.venues[entry.abbr].url %}
              <a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a>
            {% else %}
              <div>{{- entry.abbr -}}</div>
            {% endif %}
          </abbr>
        {% else %}
          <abbr class="badge rounded w-100">{{ entry.abbr }}</abbr>
        {% endif %}
      {% endif %}
      {% if entry.preview %}
        {% if entry.preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
        {% else %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
          {% include figure.liquid loading="eager" path=entry_path sizes="200px" class="preview z-depth-1 rounded" zoomable=true alt=entry.preview %}
        {% endif %}
      {% endif %}
      {% if entry.tag %}
        <span class="award badge w-100">{{entry.tag}}</span>
      {% endif %}
    </div>
  {% endif %}

  <div id="{{ entry.key }}" class="{% if site.enable_publication_thumbnails %}col-sm-8{% else %}col-sm-10{% endif %}">
    <div class="title">{{ entry.title }}</div>
    <div class="author">
      {% assign author_array_size = entry.author_array | size %}
      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {%- endif -%}
        {% assign coauthor_url = null %}
        {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
        {% if site.data.coauthors[clean_last_name] %}
          {%- for coauthor in site.data.coauthors[clean_last_name] -%}
            {% if coauthor.firstname contains author.first %}
              {%- assign coauthor_url = coauthor.url -%}
              {% break %}
            {% endif %}
          {% endfor %}
        {%- endif -%}

        {%- if forloop.length > 1 -%}
          {% if forloop.first == false %},&nbsp;{% endif %}
          {%- if forloop.last and author_array_limit == author_array_size %}and&nbsp;{% endif -%}
        {% endif %}
        {%- if author_is_self -%}
          <em>{{- author.first }} {{ author_last_html -}}</em>
        {%- else -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}">{{- author.first }} {{ author_last_html -}}</a>
          {%- else -%}
            {{- author.first }} {{ author_last_html -}}
          {% endif %}
        {%- endif -%}
      {% endfor %}
      {%- assign more_authors = author_array_size | minus: author_array_limit -%}
      {% if more_authors > 0 %}
        , and
        <span class="more-authors" title="click to view more authors" onclick="var e=$(this);e.attr('title','');var t=e.text()=='{{ more_authors }} more authors'?'{{ entry.author_array | slice: author_array_limit, more_authors | map: 'first' | join: ', ' }}':'{{ more_authors }} more authors';var p=0;var a=setInterval(function(){e.html(t.substring(0,p+1));if(++p==t.length){clearInterval(a);}}, '{{ site.more_authors_animation_delay }}');">
          {{- more_authors }} more authors
        </span>
      {% endif %}
    </div>

    <div class="periodical">
      {% assign periodical = entry.journal | default: entry.booktitle | default: entry.school %}
      <em>{{ periodical }}</em>
      {% if entry.location %}, {{ entry.location }}{% endif %}
      {% if entry.month %} {{ entry.month | capitalize }}{% endif %}
      {% if entry.year %} {{ entry.year }}{% endif %}
    </div>
    <div class="periodical">{{ entry.note | strip }}</div>

    <!-- Links -->
    <div class="links">
      {% if entry.pdf %}
        <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" role="button"><img src="https://img.shields.io/badge/PDF-red?logo=adobeacrobatreader"></a>
      {% endif %}
      {% if entry.blog %}
        <a href="{{ entry.blog }}" role="button"><img src="https://img.shields.io/badge/Blog-blue?logo=rss"></a>
      {% endif %}
      {% if site.enable_publication_badges.google_scholar and entry.google_scholar_id %}
        <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user={{ site.data.socials.scholar_userid }}&citation_for_view={{ site.data.socials.scholar_userid }}:{{ entry.google_scholar_id }}" aria-label="Google Scholar link" role="button">
          {% assign citation_count = 0 %}
          {% assign scholar_id_key = site.scholar_userid | append: ":" | append: entry.google_scholar_id %}
          {% assign publication_key = entry.google_scholar_id %}
          {% if site.data.citations.papers[scholar_id_key] %}
            {% assign citation_count = site.data.citations.papers[scholar_id_key].citations %}
          {% elsif site.data.citations.papers[publication_key] %}
            {% assign citation_count = site.data.citations.papers[publication_key].citations %}
          {% else %}
            {% for paper in site.data.citations.papers %}
              {% assign paper_key = paper[0] %}
              {% if paper_key contains entry.google_scholar_id %}
                {% assign citation_count = paper[1].citations %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <img src="https://img.shields.io/badge/scholar-{{ citation_count }}-4285F4?logo=googlescholar&labelColor=beige" alt="{{ citation_count }} Google Scholar citations">
        </a>
      {% endif %}
    </div>
  </div>
</div>
